<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-around">
      <div class="col-6">
        <img src="https://i.imgur.com/GaCQJBL.png" width="500" height="500" tabindex="1" (click)="setLink('/medico')">
      </div>
      <div class="col-6">
        <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" width="500" height="500" tabindex="2" (click)="setLink('/paso2')">
      </div>
    </div>
</div>


<br>
<br>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
        <button class="btn btn-default mt-5" routerLink="/"><h3>Atrás</h3></button>
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col-md-auto">
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-default mt-5" routerLink="{{link}}" ><h3>Continuar</h3></button>
      </div>
    </div>
  </div>
