<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col order-last"></div>
      <div class="col-xl-8" id="confirmacion" >
          <div class="cabeza">
            <h3><img src="https://i.imgur.com/SFMgZKV.png" width="50" height="50"> CLINICA INTERNACIONAL</h3>
          </div>
          <div class="body">
            <div class="container">
              <div class="row">
                <br>
                <div class="w-100"></div>
                <div class="col"><h3>{{confirmacion.medico.tipo}} {{confirmacion.medico.nombres}} {{confirmacion.medico.apellidos}}</h3></div>
                <div class="col"><img src="{{confirmacion.medico.foto}}" width="150" height="150"></div>
                <div class="w-100"></div>
                <div class="col"><h3>{{confirmacion.especialidad}}</h3></div>
                <div class="col"></div>
                <div class="w-100"><hr></div>
                <div class="col"><h4>Fecha: </h4></div>
                <div class="col"><h4>{{confirmacion.fecha}}</h4></div>
                <div class="w-100"></div>
                <div class="col"><h4>Hora: </h4></div>
                <div class="col"><h4>{{confirmacion.hora}}</h4></div>
                <div class="w-100"></div>
                <div class="col"><h4>Sala: </h4></div>
                <div class="col"><h4>{{confirmacion.sala.numero}}</h4></div>
                <div class="w-100"></div>
                <div class="col"><h4>Piso: </h4></div>
                <div class="col"><h4>{{confirmacion.sala.piso}}</h4></div>
                <div class="w-100"><hr></div>
                <div class="col"><h3>Datos del paciente: </h3></div>
                <div class="col"></div>
                <div class="w-100"></div>
                <div class="col"><h4>Nombres: </h4></div>
                <div class="col"><h4>{{confirmacion.paciente.nombres}}</h4></div>
                <div class="w-100"></div>
                <div class="col"><h4>Apellidos: </h4></div>
                <div class="col"><h4>{{confirmacion.paciente.apellidos}}</h4></div>
                <br>
                <br>
              </div>
            </div>
          </div>
      </div><div class="col order-first">
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <button class="btn btn-default mt-5" routerLink="/paso2"><h3>Atrás</h3></button>
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col col-lg-2">
      <button class="btn btn-default mt-5" (click)="registrarCita()" routerLink="/modal"><h3>Registrar</h3></button>
    </div>
  </div>
</div>